<p style="color: green"><%= notice %></p>



<% @item.uploads.each do |upload|%>
  <%= image_tag(upload)%>
<%end%>

<p>
<%= image_tag(@item.cover) %>
</p>
<%= render @item %>

<div>
  <%= link_to "Edit this item", edit_item_path(@item) %> |
  <%= link_to "Back to items", items_path %>

  <%= button_to "Destroy this item", @item, method: :delete %>
</div>
