<p style="color: green"><%= notice %></p>


<% if @item.uploads.attached? %>
  <% @item.uploads.each do |upload|%>
  <%= image_tag(upload)%>
    <%= button_to "delete attachment",purge_attachment_path(upload), method: :delete %>
  <%end%>
<%end%>


<p>
<% if @item.cover.attached? %>
  <%= image_tag(@item.cover) %>
  <%= button_to "delete cover",purge_avatar_item_path(@item), method: :delete %>
  <%end%>
</p>
<%= render @item %>

<div>
  <%= link_to "Edit this item", edit_item_path(@item) %> |
  <%= link_to "Back to items", items_path %>

  <%= button_to "Destroy this item", @item, method: :delete %>
</div>
